body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-icon {
    cursor: pointer;
    font-size: 1.5rem;
}

#create-blog {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#side-menu {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #111;
    padding-top: 60px;
    transition: 0.5s;
}

#side-menu.active {
    left: 0;
}

#side-menu ul {
    list-style-type: none;
    padding: 0;
}

#side-menu ul li a {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#side-menu ul li a:hover {
    color: #f1f1f1;
}

main {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-card {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.read-time {
    display: flex;
    align-items: center;
    color: #666;
    font-size: 0.9rem;
}

.read-time i {
    margin-right: 5px;
}

/* Style the search container */
.search-container {
    position: relative;
    display: inline-block;
}

/* Style the search input */
.search-input {
    padding-left: 30px; /* Add padding to make space for the icon */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px; /* Adjust the width as needed */
}

/* Style the search icon */
.search-container .fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Make sure the icon doesn't block input events */
    color: black; /* Set the icon color to black */
}